* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
#third-text {
  display: block;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  font-size: large;
  border: 5px solid purple;
  background-color:darkblue; 
  color: white;
}
body {
  background-image: url(./assets/third-background-img.png),
    url(./assets/second-background-img.jpg);
  background-color: cornflowerblue;
  background-position: top, bottom;
  background-size: 45cm, 50cm;
  background-repeat: no-repeat, no-repeat;
  height: 20cm, 100cm;
}
a {
  display: block;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  padding: 5px;
  font-size: large;
}

#air a {
  margin: 40px 0 0 0;
  display: block;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  font-size: large;
  border: 5px solid purple;
  background-color:darkblue; 
  color: white;
}
#air img {
  position: absolute;
  right: 360px;
  border-radius: 30px;
  margin: 10px 0 0 0;
}
#forests a {
  margin: 370px 0 0 0;
  display: block;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  font-size: large;
  border: 5px solid purple;
  background-color:darkblue; 
  color: white;
}
#forests img {
  position: absolute;
  right: 360px;
  border-radius: 30px;
  margin: 10px 0 0 0;
  height: 400px;
}
#water a {
  margin: 450px 0px 0 0;
  display: block;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  font-size: large;
  border: 5px solid blue;
  background-color:cyan; 
  color: black;
}
#water img {
  position: absolute;
  right: 360px;
  border-radius: 30px;
  margin: 10px 0 0 0;
  height: 400px;
}
#global a {
  margin: 450px 0px 0 0;
  display: block;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  font-size: large;
  border: 5px solid orangered;
  background-color:brown; 
  color: black;
}
#global img {
  position: absolute;
  right: 360px;
  border-radius: 30px;
  margin: 10px 0 0 0;
  height: 400px;
}
#the-end a {
  display: block;
  border: 2px solid blue;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: blue;
  padding: 5px;
  margin: 420px 400px 0;
  text-decoration: none;
}